.text-wrap {
  padding: 7px;
  line-height: 1.6;
}
.text-wrap > .solutions-wrap > a {
  text-decoration: none;
  font-weight: bold;
}
.text-wrap > .solutions-wrap > a:hover {
  text-decoration: underline;
}
.text-wrap > .solutions-wrap > span.separator {
  font-size: 22px;
  margin-left: 12px;
  margin-right: 12px;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .text-wrap {
    padding: 22px;
  }
}